<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn" name="LibraryLogger">

	<Appenders>

		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d %-5p %c:%L - %m%n</Pattern>
			</PatternLayout>
		</Console>

	</Appenders>

	<Loggers>

		<Logger name="xyz.swatt.aspectj" level="trace"/>

		<Root level="warn">
			<AppenderRef ref="STDOUT" />
		</Root>

	</Loggers>

</Configuration>